.contact-me {
  margin: 20px 300px 10px 300px;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 10px;
}

.contact-me h3 {
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
}

.contact-me p {
  text-align: left;
  font-size: 18px;
  line-height: 1.2em;
}

.contact-me span {
  color: #32DBB7;
}
