.skills-div {
  margin: 20px 22%;
  font-family: 'Raleway', sans-serif;
}

.skills-div h3 {
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
}

.skills-tables {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
}

.skills-tables td {
  text-align: left;
  padding-right: 10px;
  font-size: 18px;
  line-height: 1.2em;
}

table {
  margin: 10px;
}

@media (max-width: 1200px) {
  .skills-tables {
    flex-direction: column;
  }

  .skills-tables td {
    font-size: 10px;
    padding-right: 5px;
  }
}
