.skills-div {
  margin: 20px 300px 20px 300px;
  font-family: 'Raleway', sans-serif;
}

.skills-tables {
  display: flex;
  flex-direction: row;
}

.skills-div h3 {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}
